{
  "net_name": "ANMM",
  "global":{
      "model_type": "PY",
      "weights_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/weights/anmm.squad.weights",
      "logs": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/logs/anmm/",
      "save_weights_iters": 10,
      "num_iters": 300,
      "display_interval": 10,
      "test_weights_iters": 400,
      "optimizer": "adadelta",
      "learning_rate": 1.0
  },
  "inputs": {
    "share": {
        "text1_corpus": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/corpus_preprocessed.txt",
        "text2_corpus": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "embed_path": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/embed.idf",
        "vocab_size": 104505,
        "train_embed": false,
        "target_mode": "ranking",
        "bin_num": 20,
        "text1_maxlen": 30,
        "text2_maxlen": 150
    },
    "train": {
        "input_type": "DRMM_PairGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_train.txt",
        "hist_feats_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_train.binsum-20.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_test.txt",
        "hist_feats_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_test.binsum-20.txt"
    },
    "test_loss": {
        "input_type": "DRMM_PairGenerator",
        "phase": "EVAL_LOSS",
        "use_iter": false,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_test.txt",
        "hist_feats_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_test.binsum-20.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_test.txt",
        "hist_feats_file": "/home/jackalhan/Development/github/MatchZoo_local/examples/squad/dev_no_lower_no_filter/relation_test.binsum-20.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.anmm.squad.txt"
    }
  },
  "model": {
    "model_path": "/home/jackalhan/Development/github/MatchZoo_local/matchzoo/models/",
    "model_py": "anmm.ANMM",
    "setting": {
        "num_layers": 2,
        "hidden_sizes": [20, 1],
	    "dropout_rate": 0.0
    }
  },
  "losses": [
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map", "recall@1", "recall@2", "recall@5", "recall@10", "recall@20", "recall@50" ]
}

